h1{
    color: snow;
    text-align: center;
    background-color: darkorchid;
    
}

h2{
    color: snow;
    text-align: center;
    background-color: palevioletred;
}

h3{
    color: snow;
    
}

body{
    background-image: url("../images/AIROU.jpg");
    background-attachment: fixed;
}


table{
    background-color: peachpuff;
}

ol{
    
    background-image: url("../images/AIROU3.jpg")
}
    
